<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style lang="scss" scoped>
    #game-hits {
        font-size: var(--base-font);
        color: #444;
        background-color:white;
    }
    input, select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}





label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.checkbox1{
    padding: 12px 12px;
    width: 100%;
    float: left;

}
#sms{
  width: 20px;
}
    .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: right;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>
  <form
  @submit="checkForm"
  action="https://vuejs.org/"
  method="post"
  id='game-hits' class='container'
>
<template v-if="errors.length"><b>Пожалуйста исправьте указанные ошибки:</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </template> 
    

    <template v-else>
  {{good}}
  </template>
  
<div class='row'>
  <div class="col-75"><input
      id="name"
      v-model="name"
      type="text"
      name="name"
    >
     

    </div>
    <div class="col-25">
      <label for="name">Имя</label>
    </div>
    

    <div class="col-75"><input
      id="family"
      v-model="family"
      type="text"
      name="family"
    >
      
       </div>
    <div class="col-25">
      <label for="family">Фамилия</label>
    </div>

   
  
  <div class="col-75"><input
      id="soname"
      v-model="soname"
      type="text"
      name="soname"
    >
    </div>
    <div class="col-25"><label  for="soname">Отчество</label></div>
    
  

  
<div class="col-75"><input
      id="age"
      v-model="age"
      type="number"
      name="age"
      min="0"
    >
        </div>
    <div class="col-25"><label for="age">Возраст</label></div>


    

  
  
<div class="col-75"><input 
  type="tel"
   name="tel" 
   v-model="tel"
  pattern="7\d{10}">
          </div>

  <div class="col-25"><label for="tel">Телефон</label>
          </div>


  
  
   <div class="col-75">
    <select
      id="gender"
      v-model="gender"
      name="gender"
    >
      <option>мужской</option>
      <option>женский</option>
      
    </select>
    </div>
    <div class="col-25"><label for="gender">Пол</label></div>
    
  
  <div class="col-75">
    <select
      id="typeperson"
      name="typeperson" 
      v-model="typeperson"
      multiple>
      <option>VIP</option>
      <option>Проблемные</option>
      <option>ОМС</option>
    </select>
    </div>

    <div class="col-25"><label for="typeperson">Группа клиентов</label></div>
  
  <div class="col-75">
    <select
      id="docter"
      v-model="docter"
      name="docter"
    >
      <option>Иванов</option>
      <option>Захаров</option>
      <option>Чернышева</option>
    </select>
        </div>
    <div class="col-25"><label for="docter">Лечащий врач</label></div>
    
 <div class="checkbox1">
  <label for="sms">не отправлять смс</label>
 <input 
  type="checkbox" 
  id="sms"
   name="sms" 
   v-model="sms">
</div>
   
    
    


  
     
                <div class="col-25"><label for="datebern">Дата рождения: </label></div>
                <div class="col-75"><input type="date" id="datebern" name="datebern" v-model="datebern"/></div>
            

  
    <div class="col-25"><label for="country">Страна</label></div>
    <div class="col-75"><input
      id="country"
      v-model="country"
      type="text"
      name="country"
    ></div>
  
  
    <div class="col-25"><label for="area">Область</label></div>
    <div class="col-75"><input
      id="area"
      v-model="area"
      type="text"
      name="area"
    ></div>
  
  
    <div class="col-25"><label for="street">Улица</label></div>
    <div class="col-75"><input
      id="street"
      v-model="street"
      type="text"
      name="street"
    ></div>
  
  
    <div class="col-25"><label for="home">Дом</label></div>
    <div class="col-75"><input
      id="home"
      v-model="home"
      type="number"
      name="home"
    ></div>
  
  
    <div class="col-25"><label for="name">Индекс</label></div>
    <div class="col-75"><input
      id="name"
      v-model="name"
      type="text"
      name="name"
    ></div>
  
  
    <div class="col-25"><label for="typedoc">Тип документа</label></div>
     <div class="col-75"><select
      id="typedoc"
      v-model="typedoc"
      name="typedoc"
    >
      <option>Паспорт</option>
      <option>Свидетельство о рождении</option>
      <option>Вод. удостоверение</option>
      
    </select>
    </div>
  
  
    <div class="col-25"><label for="series">серия</label></div>
    <div class="col-75"><input
      id="series"
      v-model="series"
      type="number"
      name="series"
    >    </div>

  
  
    <div class="col-25"><label for="numnum">номер</label></div>
    <div class="col-75"><input
      id="numnum"
      v-model="numnum"
      type="number"
      name="numnum"
    >    </div>

  
  
    <div class="col-25"><label for="who">кем выдан</label></div>
    <div class="col-75"><input
      id="who"
      v-model="who"
      type="text"
      name="who"
    >    </div>

  
   
                <div class="col-25"><label for="dateup">Дата выдачи: </label></div>
                <div class="col-75"><input type="date" id="dateup" name="dateup" v-model="dateup"/>    </div>

      


  <div class="col-25"><input
      type="submit"
      value="Отправить"
    >
</div>
</div>

    </form>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
   var vm = new Vue( {
el: '#game-hits',
        data :{
    errors: [],
    name: null,
    family:null,
    soname:null,
    age: null,
    datebern:'',
    gender:'',
    tel:'',
    typeperson:[],
    docter:'',
    sms:false,
    index: null,
    area:'',
    country:'',
    city: '',
    street: '',
    home:null,
    typedoc: '',
    series:null,
    numnum:null,
    who: '',
    dateup:'',
    good:''

                
            },
            
  methods: {
    checkForm: function (e) {
      if (this.name && this.family && this.tel && this.datebern && this.typeperson && this.country && this.typedoc && this.dateup)  {
        alert('success');
        return true;
        
      }

      this.errors = [];

      if (!this.name) {
        this.errors.push('Требуется указать name.');
      }
      if (!this.family) {
        this.errors.push('Требуется указать family.');
      }
      if (!this.tel) {
        this.errors.push('Требуется указать tel.');
      }
      if (!this.datebern) {
        this.errors.push('Требуется указать datebern.');
      }
      if (!this.typeperson) {
        this.errors.push('Требуется указать typeperson.');
      }
      if (!this.city) {
        this.errors.push('Требуется указать city.');
      }
      if (!this.typedoc) {
        this.errors.push('Требуется указать тип.');
      }
      if (!this.dateup) {
        this.errors.push('Требуется указать дату.');
      }

      e.preventDefault();
    }
  }
  }
        )
    
</script>
</body>
</html>
